
#stage {
    background-color: #E0FCFC;
    position: absolute;
    margin: 0px;
    z-index: 0;
}

.screen {
    overflow: hidden;
}

.cover {
    background-image: url("stripes/stripeBG.png");
    z-index: 10000;
    position: absolute;
}

.station{
    font-size: 3rem;
  }

.stationDroppable{
  color: blue;
}

.stationOther{
  color: black;
}

.terminal{
  font-size: 2rem;
  color: red;
}

.active {
    background-color:yellow;
    color: black;
}
.grayed{
  opacity:.4;
}
html, body {
  overflow:hidden;
  height:100%;
  width:100%;
}

body{ user-select: none;
  font-size: 1.5rem;
  overflow:hidden;
  font-family: 'Merriweather Sans', sans-serif;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.introBox{
  font-size: 1rem
}

.line ,#sentenceLetters, .justification{
    display: flex;

flex-direction: row;
justify-content: space-between;

}

#proof{
border:solid .3rem #22A8A8;
border-radius: 1rem;
color: white;
background:#33CACA;
width:60%;
margin:1.7rem;
font-family: 'Merriweather Sans', sans-serif;

}
.container >*{margin: .5rem;}
0

#proofHeading{
  padding: 1rem
}
.inferenceDrop{

border:.15rem solid #22A8A8;
height:2.5rem;
padding: 0.5rem

}

.justification .lines{

padding-left:.5rem;
}



#sentenceLettersHeading{

}
#sentenceLetters{
border:solid 3px #00AA00;
border-radius: 1rem;
color: #444444;
background:#66DD66;

font-family: 'Merriweather Sans', sans-serif;
}

#wffConstructorHeading{
  font-size: 2rem;
  padding: 1rem;
font-family: 'Merriweather Sans', sans-serif;
  font-weight:900;
}

#wffConstructor{
  border:solid 3px #44DBDB;
  border-radius: 1rem;
  padding: 1rem;
  color: black;
  background:#99ECEC;

font-family: 'Merriweather Sans', sans-serif;
}

#wffConstructor .justification ,#wffConstructor .number{
display:none;

}
#modusPonensHeading{
  font-size: 2rem;
  padding: 1rem;
font-family: 'Merriweather Sans', sans-serif;
  font-weight:900;

}

#inferenceRules{
  border:solid 3px #44DBDB;
  border-radius: 1rem;
  padding: 1rem;
  color: black;
  background:#99ECEC;

  font-family: 'Merriweather Sans', sans-serif;

  }


.bigContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
background-color: #E0FCFC;
}
.flexContainer{
}

.qtip{
  font-size: 1rem;
  font-family: 'Merriweather Sans', sans-serif;
}
}
