.station{
    font-size: 3rem;
  }

.stationDroppable{
  color: blue;
}

.stationOther{
  color: black;
}

.terminal{
  font-size: 2rem;
  color: red;
}

.active {
    background-color:yellow;
}

body{
  font-size: 2rem;
}

.line ,#wffConstructor, .justification{
    display: flex;
flex-wrap: no-wrap;
flex-direction: row;
justify-content: space-between;

}

#proof{
border:solid 1px blue;
width:100%;

}
.antecedent,.consequent{

border:.1rem solid blue;
height:2rem;

}

.justification .lines{

padding-left:.5rem;

}
